<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="http://localhost/public/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="http://localhost/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div id="welcome">
            <% if(firstAccess){  %>
       <h1>Benvenuto <%= name %></h1>
    <% }else{ %>
        <h1>Bentornato <%= name %></h1>
    <% } %>
    </div>
    
    <h3>Ecco tutte le tue password!</h3>

    <% for(i=0;i<data.length;i++){ %>
        <p><%= data[i].site %>: <%= data[i].psw %></p>
    <% } %>

    <button id="addPsw">Salva una password</button>
    <div id="addZone" style="display: none;">
        <form action="/addPsw" method="post">
            <input type="text" name="site" id="">
            <input type="password" name="psw" id="">
            <button type="submit">Aggiungi</button>
        </form>
    </div>

    <form action="/login/disconnect" method="post">
        <button type="submit">Disconnect</button>
    </form>
    <script src="http://localhost/public/home.js"></script>
</body>
</html>